name: tiki_sdk_flutter_plugin
description: The Plugin for native Android and iOS code for TIKI SDK Flutter
version: 0.0.1
homepage:

environment:
  sdk: '>=2.18.2 <3.0.0'
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
flutter:
  plugin:
    platforms:
      android:
        package: com.mytiki.tiki_sdk_flutter_plugin
        pluginClass: TikiSdkFlutterPlugin
      ios:
        pluginClass: TikiSdkFlutterPlugin
